WORK_autoread
WORK_autoread/*
verif_tool
faults_pre*
default*
prepr_faults
command.log
logfiles/analyze.log
logfiles/compile.log
logfiles/elaborate.log
reports/area.log
reports/power.log
reports/ref.log
reports/resources.log
reports/timing.log
synthesis.sy
.DS_Store
verif_tool.dSYM/
yosys
yosys/*
subcircuits.txt
subcircuitsNC_1st.txt
subcircuitsNC_2nd.txt
subcircuitsNC_3rd.txt
uniformity.txt
complete_bits_1st.txt
dependencies.txt
compile.tcl
